.nav-container {
  background-color: aliceblue;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.nav-item {
  width: 100%;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.heading-section {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  padding: 5px 0px;
}

.control-section {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.control-item {
  padding: 10px 0px;
  width: 20%;
  display: flex;
  align-items: center;
}

.control-item img {
  width: 30%;
  margin: 0px 5px;
}

.algo-section {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.algo-btn {
  background-color: antiquewhite;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.grid-container {
  width: 99%;
  margin: auto;
}

.cells-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 25px;
  height: 25px;
  /* background-color: var(--white); */
  background-color: #fbfbfb;
  border: 1px solid var(--lightblue);
  /* border: 1px solid rgb(67, 118, 200); */
  /* margin: 2px; */
  /* border: 2px solid; */
  /* transition: all 100ms; */
}

.cell img {
  width: 100%;
  display: block;
  margin: auto;
}

.cell:hover {
  background-color: var(--gray);
  /* transform: scale(1.25); */
}

.value {
  display: none;
}

.inside {
  display: none;
}

.path-nodes {
  color: aliceblue;
}
