.footer-container {
  background-color: var(--black);
  color: var(--white);
  margin: 20px 0px 0px;
  padding: 20px;
}

.tech-used-container h3 {
  margin: 5px 0px;
}

.tech-used-box {
  width: 30%;
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
