body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* ::-webkit-scrollbar {
  display: none;
}

:root {
  --white: #f1f6f9;
  --blue: #394867;
  --lightblue: #5883d8;
  --purple: #9e45c8;
  --black: #212a3e;
  --gray: #9ba4b5;

  /* Accent Colors */
  --yellow: #ffc300;
  --red: #c70039;
  --green: #1abc9c;
}
